<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SobreRailes</title>
    <link rel="shortcut icon" href="/public/media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/lading.css">
    <link rel="stylesheet" href="/public/css/juego.css">
</head>

<body>

    <header class="cabecera">
        <nav class="cabecera__nav">
            <a href="./check_billete.html" class="cabecera__nav__a  cabecera__nav__a--login">CHECK BILLETE</a>
            <a href="./historial.html" class="cabecera__nav__a cabecera__nav__a--singup">HISTORIAL</a>
            <a href="./mi_cuenta.html" class="cabecera__nav__a  cabecera__nav__a--login">MI CUENTA</a>
            <a href="./juego.html" class="cabecera__nav__a cabecera__nav__a--singup">JUEGO</a>
        </nav>
    </header>

    <main class="main">


        <section class="main__section">
            <article>
                <canvas id="espacio" height="480" width="600" style="border: 1px black solid">
                </canvas>
            </article>
        </section>


    </main>

    <footer class="footer">
        <p class="footer__paragraph footer__paragraph--autor">Ruben Juarez, Angel Mansilla y Carlos Piña</p>
        <p class="footer__paragraph footer__paragraph--marca">SobreRailes®</p>
    </footer>
    <script src="/public/js/game_graph-module.js"></script>
</body>

</html>