<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SobreRailes</title>
  <link rel="shortcut icon" href="../../public/media/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../public/css/main.css">
  <link rel="stylesheet" href="../../public/css/lading.css">
</head>

<body>

  <header class="cabecera">
    <nav class="cabecera__nav">
      <a href="./login.html" class="cabecera__nav__a  cabecera__nav__a--login">LOG IN</a>
      <a href="./register.html" class="cabecera__nav__a cabecera__nav__a--singup">SIGN UP</a>
    </nav>
  </header>

  <main class="main">
    <aside class="main__aside main__aside--left">
      <img class="main__aside__img" src="../../public/media/banner_tren1.png" alt="bannerPublicidad1">
      <img class="main__aside__img" src="../../public/media/banner_tren3.png" alt="bannerPublicidad3">
      <img class="main__aside__img" src="../../public/media/banner_tren5.png" alt="bannerPublicidad5">
    </aside>
    <section class="main__section">

      <header class="main__section__header">
        <h1 class="main__section__header__h1">Ofertas Flash!</h1>
      </header>

      <article class="main__section__ofertas">
        <span class="main__section__ofertas__span">Oferta 1</span>
      </article>

      <article class="main__section__ofertas">
        <span class="main__section__ofertas__span">Oferta 2</span>
      </article>

      <article class="main__section__ofertas">
        <span class="main__section__ofertas__span">Oferta 3</span>
      </article>
    </section>

    <aside class="main__aside main__aside--right">
      <img class="main__aside__img" src="../../public/media/banner_tren2.png" alt="bannerPublicidad2">
      <img class="main__aside__img" src="../../public/media/banner_tren4.png" alt="bannerPublicidad4">
      <img class="main__aside__img" src="../../public/media/banner_tren6.png" alt="bannerPublicidad6">
    </aside>
  </main>

  <footer class="footer">
    <p class="footer__paragraph footer__paragraph--autor">Ruben Juarez, Angel Mansilla y Carlos Piña</p>
    <p class="footer__paragraph footer__paragraph--marca">SobreRailes®</p>
  </footer>

</body>

</html>
