<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SobreRailes</title>
    <link rel="shortcut icon" href="/public/media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/register.css">
</head>

<body>
    <main class="main">
        <form action="">
        <section class="main__section">

            <header class="main__section__header">
                <h1 class="main__section__header--title">Bienvenido a SobreRailes!</h1>
            </header>

            <article class="main__section__article--username">
                <input type="text" name="Username" id="Username" placeholder="Menganito De Tal">
            </article>

            <article class="main__section__article--email">
                <input type="email" name="Email" id="Email" placeholder="something@smth.dom">
            </article>

            <article class="main__section__ofertas">
                <span class="main__section__ofertas__span">Oferta 3</span>
            </article>

        </section>
        </form>
    </main>
    
    <footer class="footer">
        <p class="footer__paragraph footer__paragraph--autor">Ruben Juarez, Angel Mansilla y Carlos Piña</p>
        <p class="footer__paragraph footer__paragraph--marca">SobreRailes®</p>
    </footer>
</body>

</html>