* {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-areas:
    'header header header'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'footer footer footer';
  background-color: #0066B3;
}

.cabecera {
  grid-area: header;
  width: 100%;
  background: linear-gradient(to bottom, #0066B3, #199CFF 80%, #0066B3);
  border: solid 3px #0066B3;
  border-radius: 10px;
  margin-top: 5px;
}

.cabecera__nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 5px;
  height: 100%;
}

.cabecera__nav__a {
  display: flex;
  align-items: center;
  padding: 5px;
  background: linear-gradient(to bottom, #FFA319, #FFAD33 80%, #FFA319);
  border: solid 3px #B36F09;
  font-weight: bolder;
  color: black;
  border-radius: 10px;
  margin-left: 15px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  height: 6px;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.main__section {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.main__section__header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: #B36F09;
  border-radius: 5px;
}

.main__section__header__seleccion {
  background-color: #FFA319;
  border: solid 3px #B36F09;
  border-radius: 10px;
  margin: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.main__section__header__seleccion__lugar {
  border: solid 3px #B36F09;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-bottom: 5px;
}

.main__section__header__seleccion__fecha {
  border: solid 3px #B36F09;
  border-radius: 10px;
  padding-left: 15px
}

.main__section__ofertas__header {
  background-color: #B36F09;
  border: solid 3px #B36F09;
  border-radius: 5px;
  display: flex;
  padding: 5px;
  margin-top: 20px;
  justify-content: space-between;
  position: sticky;
  top: 88px;
}

.main__section__ofertas__header__span {
  background-color: #FFA319;
  border: solid 3px rgb(71, 71, 71);
  border-radius: 10px;
  padding: 5px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.main__section__ofertas__billete {
  background: linear-gradient(to bottom, #0066B3, #199CFF 80%, #0066B3);
  border: solid 3px #0066B3;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.main__section__ofertas__billete__span {
  background-color: white;
  border: solid 3px #0066B3;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__aside--left {
  width: 20%;
}

.main__aside--right {
  width: 20%;
}

.main__aside__img {
  width: 96%;
  border: solid 2px #B36F09;
  margin-bottom: 1%;
  height: 200px;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
  grid-area: footer;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
  margin-top: 30px;
}

.cabecera__nav__a:hover {
  transition: 7ms;
  background-color: #B36F09;
  background: linear-gradient(to bottom, #B36F09, #B36F09 80%, #B36F09);
  cursor: pointer;
  transform: scale(1.1);
  font-style: italic;
}

@media (max-width: 700px) {
  .main {
    width: 80%;
  }

  .main__section__header__seleccion__lugar {
    width: 70%;
  }
}
