* {
  box-sizing: inherit;
}

body, html {
  width: 98%;
  height: 100%;
  margin-left: 1%;
  margin-right: 1%;
}

body {
  display: grid;
  grid-template-areas:
    'header header header'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'footer footer footer';
  background-color: #0066B3;
}

.cabecera {
  grid-area: header;
  width: 100%;
  background: linear-gradient(to bottom, #0066B3, #199CFF 80%, #0066B3);
  background-color: #199CFF;
  border: solid 3px #0066B3;
  border-radius: 10px;
  margin-top: 5px;
}

.cabecera__nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 5px;
  height: 100%;
}

.cabecera__nav__a {
  display: flex;
  align-items: center;
  padding: 5px;
  background: linear-gradient(to bottom, #FFA319, #FFAD33 80%, #FFA319);
  border: solid 3px #B36F09;
  font-weight: bolder;
  color: black;
  border-radius: 10px;
  margin-left: 15px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  height: 6px;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.main__section {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  background-color: #FFA319;
  border: solid 3px #B36F09;
  border-radius: 10px;
}

.main__section__header {
  background-color: #B36F09;
}

.main__section__ofertas {
  background-color: #FFAD33;
}

.main__aside--left {
  width: 20%;
}

.main__aside--right {
  width: 20%;
}

.main__aside__img {
  width: 96%;
  border: solid 2px #B36F09;
  margin-bottom: 1%;
  height: 200px;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
  grid-area: footer;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
  margin-top: 30px;
}

.cabecera__nav__a:hover{
  transition: 7ms;
  background-color: #B36F09;
  background: linear-gradient(to bottom, #B36F09, #B36F09 80%, #B36F09);
  cursor: pointer;
  transform: scale(1.1);
  font-style: italic;
}
