* {
  box-sizing: inherit;
}

body, html {
  width: 98%;
  height: 100%;
  margin-left: 1%;
  margin-right: 1%;
}

body {
  display: grid;
  grid-template-areas:
    'header header header'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'footer footer footer';
  background-color: #0066B3;
}

.cabecera {
  grid-area: header;
  width: 100%;
  background: linear-gradient(to bottom, #0066B3, #199CFF 80%, #0066B3);
  background-color: #199CFF;
  border: solid 3px #0066B3;
  border-radius: 10px;
  margin-top: 5px;
}

.cabecera__nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 5px;
  height: 100%;
}

.cabecera__nav__a {
  display: flex;
  align-items: center;
  padding: 5px;
  background: linear-gradient(to bottom, #FFA319, #FFAD33 80%, #FFA319);
  border: solid 3px #B36F09;
  font-weight: bolder;
  color: black;
  border-radius: 10px;
  margin-left: 15px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  height: 6px;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.main__section {
  width: 80%;
  text-align: center;
  display: grid;
  grid-template-columns: 50%,50%;
  grid-template-rows: 25%,25%,25%,25%;
  grid-template-areas: 
  'Username Username'
  'Email Email'
  'Iban Iban'
  'Pass Pass';
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  background-color: #FFA319;
  border: solid 3px #B36F09;
  border-radius: 10px;
}

.main__section__article--username{
  grid-area: Username;
  display: grid;
  grid-template-columns: 50%,50%;
  grid-template-areas: 
  'title mycontent';

}

.title{
  grid-area: title;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
}
.content {
  grid-area: mycontent;
  align-items: right;
  justify-content: right;
  font-family: 'Montserrat', sans-serif;
}
.main__section__article--email{
  grid-area: Email;
  display: grid;
  grid-template-columns: 50%,50%;
  grid-template-areas: 
  'title mycontent';
  
}
.main__section__article--iban{
  grid-area: Iban;
  display: grid;
  grid-template-columns: 50%,50%;
  grid-template-areas: 
  'title mycontent';
  
}
.main__section__article--password{
  grid-area: Pass;
  display: grid;
  grid-template-columns: 50%,50%;
  grid-template-areas: 
  'title mycontent';
  
}

input{
  width: 50px;
  height: 40px;
  border-radius: 5px;
  padding-right: 150px;
}
.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
  grid-area: footer;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
  margin-top: 30px;
}

.cabecera__nav__a:hover{
  transition: 7ms;
  background-color: #B36F09;
  background: linear-gradient(to bottom, #B36F09, #B36F09 80%, #B36F09);
  cursor: pointer;
  transform: scale(1.1);
  font-style: italic;
}
